In [1]:
# Depenencies
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import datetime as dt
import requests

In [2]:
# URL of page to be scrapped

url = 'https://mars.nasa.gov/news/'

In [3]:
# Retrieve page with the requests module

#response = requests.get(url)

In [4]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [5]:
browser.visit(url)

In [6]:
html = browser.html

In [7]:
# Create BeautifulSoup Object; pares with html.parser

soup = BeautifulSoup(html, 'html.parser')

In [8]:
# Examine the resutls
# print(soup.prettify())

## NASA Mars News

In [9]:
results = soup.find('div', class_='list_text')

In [10]:
news_title = results.find('div', class_='content_title').text

In [11]:
news_par = results.find('div', class_='article_teaser_body').text

In [12]:
news_date = results.find("div", class_="list_date").text

In [13]:
print(news_title)

NASA Seeking Partner in Contest to Name Next Mars Rover

In [14]:
print(news_par)

NASA has a class assignment for corporations, nonprofits and educational organizations involved in science and space exploration: partner with the agency to inspire future engineers and scientists by sponsoring a contest to name the next rover to venture to the Red Planet.

In [15]:
print(news_date)

September 21, 2018

## JPL Mars Space Images - Featured Image

In [16]:
map_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(map_url)

In [17]:
browser.find_by_id('full_image').click()

In [18]:
featured_image_url = browser.find_by_css('.fancybox-image').first['src']

In [19]:
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA14579_ip.jpg

In [20]:
# xpath = '//*[@id="full_image"]'

# map_results = browser.find_by_xpath(xpath)
# img = map_results[0]
# img.click()

# html_map = browser.html
# map_soup = BeautifulSoup(html_map, 'html.parser')
# img_url = map_soup.find("img", class_="fancybox-image")["src"]

# featured_image_url = "https://www.jpl.nasa.gov" + img_url

# print(featured_image_url)

## Mars Weather

In [21]:
weather_url = 'https://twitter.com/marswxreport?lang=en'

In [22]:
browser.visit(weather_url)

In [23]:
weather_html = browser.html

In [24]:
weather_soup = BeautifulSoup(weather_html, 'html.parser')

In [25]:
weather_results = weather_soup.find('div', class_='js-tweet-text-container')

In [26]:
mars_weather = weather_results.find('p', class_='tweet-text').text

In [27]:
print(mars_weather)

Sol 2171 (2018-09-14), high -12C/10F, low -65C/-84F, pressure at 8.79 hPa, daylight 05:43-17:59

## Mars Facts

In [28]:
# Use working with Pandas in homework as example
facts_url = 'https://space-facts.com/mars/'

In [29]:
facts_table = pd.read_html(facts_url)
facts_table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [30]:

table_df = facts_table[0]
table_df.columns = ['Description', 'Facts']
table_df.head(10)

            Description                          Facts
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [31]:
# Generate HTML tables from DataFrames
html_table = table_df.to_html()

html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n      <th>Facts</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [32]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Description</th>      <th>Facts</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [33]:
 table_df.to_html('Mars_facts_table.html')

## Mars Hemispheres

### Cerberus Hemisphere

In [34]:
hemi_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemi_url)

In [35]:
hemi_cerberus = browser.find_by_tag('h3')[0].text

In [36]:
browser.find_by_css('.thumb')[0].click()
hemi_first_img = browser.find_by_text('Sample')['href']
browser.back()

### Schiaparelli Hemisphere

In [37]:
hemi_schiaparelli = browser.find_by_tag('h3')[1].text

In [38]:
browser.find_by_css('.thumb')[0].click()
hemi_second_img = browser.find_by_text('Sample')['href']
browser.back()

### Syrtis Major Hemisphere

In [39]:
hemi_syrtis = browser.find_by_tag('h3')[2].text

In [40]:
browser.find_by_css('.thumb')[0].click()
hemi_third_img = browser.find_by_text('Sample')['href']
browser.back()

### Valles Marineris Hemisphere

In [41]:
hemi_valles = browser.find_by_tag('h3')[3].text

In [42]:
browser.find_by_css('.thumb')[0].click()
hemi_fourth_img = browser.find_by_text('Sample')['href']
browser.back()

In [43]:
# Append the dictionary with the image url string and the hemisphere title to a list.

hemisphere_image_urls = [
    {'title': hemi_cerberus, 'img_url': hemi_first_img},
    {'title': hemi_schiaparelli, 'img_url': hemi_second_img},
    {'title': hemi_syrtis, 'img_url': hemi_third_img},
    {'title': hemi_valles, 'img_url': hemi_fourth_img}

]

In [44]:
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}]